* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%px;
    width: 100%;
}

h1 {
    color: #2F5E9E;
    text-align: center;
    font-size: 3rem;
    margin: 20px 0px 0px 0px;
}

p {
    color: rgb(82, 80, 80);
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    color: #2F5E9E;
    font-size: 3rem;
    margin: 10px 0px 0px 50px;
}

.overview p {
    color: rgb(82, 80, 80);
    font-size: 2rem;
    text-align: left;
    margin: 20px 0px 0px 50px;
}

ul {
    color: black;
    font-size: 1.4rem;
    margin: 10px 0px 0px 50px;
}

.out p {
    color: rgb(82, 80, 80);
    margin: 0px 0px 0px 50px;
    text-align: left;
}

.regi p {
    text-align: left;
    color: rgb(82, 80, 80);
    margin: 0px 0px 0px 50px;
}
h3{
    font-size:3rem;
    text-align: center;
    color:#2F5E9E;
}
button{
    font-size:1.7rem;
    text-align: center;
    background-color: #ffff;
    color:black;
    /* border-radius:5px; */
    height:50px;
    width:150px;
}
.register{
    text-align: center;
}